.align-center{
	width: 40%;
	margin: auto;
}

.register-card{
	margin-top: 10%;
    background-color: #87ceeb38;
    box-shadow: -1px 1px 11px 3px #97bcd8;
}

.btn-link {
    font-weight: 400;
    color: #337ab7;
	border-radius: 0;
	margin-left: 67%;
}