<div class="w3-container">
    <div class="w3-panel w3-round-small w3-teal" style="background-color: #4e97f4 !important;">
        <h3>Add Subject 
            <button routerLink="/teacher/studentList" class="w3-button w3-white custom-button margin-right"> 
                <i class="w3-medium fa fa-chevron-left"></i> Back
            </button>
        </h3>
    </div>
    <div>
    <form [formGroup]="subjectForm" class="w3-container w3-card-4 w3-light-grey add-subject-form" (ngSubmit)="addSubject()">
      <label class="w3-text-blue"><b>Enter Subject Name</b></label>
      <input class="w3-input w3-border w3-round" formControlName="subjectName">
      <div class="w3-panel w3-red"  *ngIf="subjectForm.controls.subjectName.invalid && (subjectForm.controls.subjectName.dirty || subjectForm.controls.subjectName.touched)">Must contain subject</div>
      <br>
      <button class="w3-btn w3-blue" type="submit" [disabled]="!subjectForm.valid">Add Subject</button>
    </form>
    </div>
</div>
